/* Navbar */
nav {
    margin: -8px 0px;
}

nav li a {
    height: 70px;
    line-height: 58px;
    text-transform: uppercase;
}

nav li a:hover {
    background-color: white;
    border-bottom: #3CB371 solid 2px;
}

nav form input:focus {
    box-shadow: none !important;
}

@media screen and (max-width: 991px) {
    nav {
        margin: 0px;
    }
}

/* Tabs style */
#tabs {
    margin-top: 50px;
}

.tab-links a{
    color: green;
}

.tab-item {
    width: 19.5%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.tab-item a {
    text-decoration: none;
    color: gray;
}

.tab-item img:hover{
    transition: transform 0.5s;
    transform: scale(1.2);
}

@media screen and (min-width: 537px) and (max-width: 991px) {
    .tab-item {
        width: 19%;
    }

    .tab-item img{
        width: 90px;
        height: 60px;
    }

    .tab-item p {
        font-size: 11px;
    }
}

@media screen and (max-width: 536px) {
    .tab-pane {
        height: 100px;
    }

    .tab-item {
        width: 18%;
        vertical-align: text-top;
    }
    
    .tab-item img{
        width: 70px;
        height: 50px;
    }

    .tab-item p {
        font-size: 8px;
    }
}

/* Sections */
#sections {
    margin-top: 50px;
    text-align: center;
}

.section {
    height: 295px;
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 45px;
}

.section img {
    margin-top: 30px;
}

.section img:hover{
    transition: transform 5s;
    transform: scale(1.1);
}

.section-buttons button {
    text-transform: uppercase;
    margin-top: 15px;
}

.section-buttons button:focus {
    box-shadow: none !important;
}

.hero-text {
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .section {
        height: 250px;
        margin: 40;
    }

    .hero-text {
        font-size: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .section {
        height: 430px;
        margin: 0 0 40px 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .section {
        height: 330px;
        margin: 0 0 40px 0;
    }
}

@media screen and (max-width: 575px) {
    .section {
        height: auto;
        margin: 0 0 40px 0;
    }

    .section-buttons button {
        font-size: 10px;
        margin: 30px 0 30px 0;
    }

    .hero-text {
        font-size: 30px;
        top: 40%;
    }
}

/* Slides */
#slides {
    margin-top: 100px;
}

.description {
    margin-top: 10px;
    color: green;
    text-transform: capitalize;
}

.price {
    margin-top: -20px;
}

#demo .carousel-control-prev, #demo .carousel-control-next {
    margin-top: -60px;
}

@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-4 {
        float: left;
        width: 33.3%;
        max-width: 100%; 
    } 
}

.carousel-multi-item-2 .card img {
    border-radius: 2px; 
}

/* Footer */
footer {
    height: auto;
    background-color: gray;
    margin-top: 50px;
}

.footer-item {
    vertical-align: top;
    margin: 50px 0px 50px 0;
    display: inline-block;
}

.footer-item h3 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.footer-item ul {
    list-style-type: none;
    margin-left: -40px;
}

.footer-item a {
    color: white;
    text-decoration: none;
}

.footer-item a:hover {
    color: darkgrey;
}

.fa {
  padding: 0 0 0 0px ;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 575px) {
    footer .container {
        margin: 30px 0 30px 0;
    }
    .footer-item {
        margin: 10px 0 0px 0;
    }
}

#copyrights {
    width: 100%;
    height: 50px;
    color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}