body {
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(135deg, #f2ecdf 25%, #f7f3ea 25%, #f7f3ea 50%, #f2ecdf 50%, #f2ecdf 75%, #f7f3ea 75%, #f7f3ea 100%);
    background-size: 14.14px 14.14px; */
}

/* Navbar */
nav {
    margin: -8px 0px;
}

.navbar { 
    padding: .5rem 1rem 0rem 1rem;
}

nav li a {
    height: 70px;
    line-height: 58px;
    text-transform: uppercase;
}

nav li a:hover {
    background-color: white;
    border-bottom: #3CB371 solid 2px;
}

nav form input:focus {
    box-shadow: none !important;
}

@media screen and (max-width: 991px) {
    nav {
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 8px !important;
    }
}

/* Header */
header {
    background-image: url('../assets/arrivals-header-images/1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

/* Products */
#products {
    margin-top: 100px;
}

.description {
    margin-top: 10px;
    margin-left: 15px;
    color: green;
    text-transform: capitalize;
}

.price {
    margin-top: -20px;
    margin-left: 15px;
}

/* Footer */
footer {
    height: auto;
    background-color: gray;
    margin-top: 50px;
}

.footer-item {
    vertical-align: top;
    margin: 50px 0px 50px 0;
    display: inline-block;
}

.footer-item h3 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.footer-item ul {
    list-style-type: none;
    margin-left: -40px;
}

.footer-item a {
    color: white;
    text-decoration: none;
}

.footer-item a:hover {
    color: darkgrey;
}

.fa {
  padding: 0 0 0 0px ;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 575px) {
    footer .container {
        margin: 30px 0 30px 0;
    }
    .footer-item {
        margin: 10px 0 0px 0;
    }
}

#copyrights {
    width: 100%;
    height: 50px;
    color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}